<a href="https://colab.research.google.com/github/ravindran78511/datascience/blob/master/FishDataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
############## Reading the Data ##################
path = '/gdrive/My Drive/ML:March2020/Assignments/data/'
raw_data = pd.read_csv(path + 'Fish.csv')
raw_data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [0]:
from sklearn.preprocessing import LabelEncoder
#### encode the species column to continous value from categorical value
species_encoder = LabelEncoder()
raw_data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [0]:
#### split the x and y
y= raw_data['Weight']
x=raw_data.drop('Weight', axis=1)

In [0]:
### split the test and learn data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.25, random_state=2)
y_train.shape
x_train['Species']= species_encoder.fit_transform(x_train['Species'])
x_test['Species']= species_encoder.transform(x_test['Species'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [0]:
#### mean data normalization
x_train = (x_train-x_train.mean())/(x_train.max()-x_train.min())
y_train= (y_train-y_train.mean())/(y_train.max()-y_train.min())
y_train

150   -0.226528
64    -0.159074
101   -0.099680
78    -0.184528
152   -0.225801
         ...
75    -0.200589
43    -0.140892
22     0.143957
72    -0.228225
15     0.131835
Name: Weight, Length: 119, dtype: float64

In [0]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
model.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

In [0]:
x_test = (x_test-x_test.mean())/(x_test.max()-x_test.min())
y_test= (y_test-y_test.mean())/(y_test.max()-y_test.min())

In [0]:
train_predict = model.predict(x_train)

#### score 
score = model.score(x_train, y_train)
print("Training data set F1 score {}".format(round(score ,4)*100))

test_predict = model.predict(x_test)
test_score = model.score(x_test,y_test)

print("Test data set F1 score {}".format(round(score,4)*100))

Training data set F1 score 90.72
Test data set F1 score 90.72

In [0]:
from sklearn.metrics import mean_absolute_error

train_accuracy = mean_absolute_error(y_train,train_predict)
train_accuracy =(1-train_accuracy) *100
print("Accuracy of training data prediction{}".format(train_accuracy));

Accuracy of training data prediction94.72945301533416

In [0]:
test_accuracy= mean_absolute_error(y_test, test_predict)
test_accuracy = (1-test_accuracy)*100
print("Accuracy of test data prediction {}".format(test_accuracy));

Accuracy of test data prediction 92.88426556854219

In [0]:
from sklearn.metrics import r2_score
train_r2_score = r2_score(y_train, train_predict)
train_r2_score= round(train_r2_score, 4)*100
print("R2 Score of training data prediction{}".format(train_r2_score));

R2 Score of training data prediction90.72

In [0]:
test_r2_score =r2_score(y_test,test_predict)
test_r2_score =round(test_r2_score,4)* 100
print("R2 Score of test data prediction{}".format(test_r2_score));

R2 Score of test data prediction80.33

In [0]:
test_predict

array([ 0.01910691, -0.067562  , -0.38028146, -0.04265668, -0.0415912 ,
        0.20926089, -0.0641768 ,  0.5364117 ,  0.18034896,  0.22477774,
        0.31692687,  0.14959654,  0.29072777, -0.22682865, -0.16658373,
       -0.15529799, -0.06078594,  0.09611126,  0.05882263,  0.0382503 ,
       -0.21399796, -0.37472376, -0.13628524, -0.21860584,  0.07443982,
        0.1220408 , -0.21541256, -0.22241164, -0.18969876, -0.13565541,
        0.28570896,  0.21126754,  0.24041324,  0.1946604 , -0.21583112,
       -0.02802326,  0.21894606,  0.03269486, -0.1890213 , -0.15508194])

In [0]:
y_test

12     0.035388
3     -0.053561
153   -0.282882
6      0.035388
129   -0.094465
134    0.006821
71    -0.094465
143    0.717118
29     0.360021
137    0.035388
127    0.360021
113    0.165242
138    0.078889
85    -0.204840
44    -0.195101
48    -0.179519
5      0.002925
24     0.165242
23     0.152256
54    -0.036031
41    -0.217826
35    -0.263274
100   -0.161339
42    -0.211333
25     0.181473
132   -0.010060
65    -0.191855
94    -0.191855
92    -0.191855
2     -0.068494
126    0.360021
136    0.061359
118    0.243153
135    0.041881
91    -0.204840
128   -0.159392
119    0.262631
14     0.100315
45    -0.185362
98    -0.167183
Name: Weight, dtype: float64